.container {
    display: flex;
    justify-content: center;
}

.mat-card {
    padding: 0;
    width: 90%;
    max-width: 400px;
}

.mat-tab-group {
    padding: 16px 24px;
}

.submit {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

mat-hint {
    color: #f44336 !important;
}
