/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.mat-list-item-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 30px !important;
}

.mat-tab-body-content {
    display: flex;
    flex-flow: column;
}
